body {font: 11px tahoma}
a {text-decoration: none}
a:hover {text-decoration:underline}
a img {border: 0}

.lenta {position: relative; padding: 10px 300px 65px 0}

.navigation {float: left; width: 210px}

.navigation .heading {padding-left: 30px; padding-right: 10px}
.navigation .category {padding-bottom: 10px}

.navigation .heading {height: 30px; line-height: 30px; text-align: justify}
.navigation .heading > * {display: inline-block; line-height: normal}
.navigation .heading .title {font-size: 15px; font-family: arial; color: #000;text-decoration:underline}
.navigation .heading .title:hover {text-decoration:none}
.navigation .heading .count {display: none; color: #fff; background-color: #09c; padding: 1px 4px}
.navigation .heading:after {content: ""; display: inline-block; width: 100%}

.navigation .options {padding-left:26px;display: none; line-height: 25px; padding-top: 5px; padding-bottom: 10px}
.navigation .options label {display: block;cursor:pointer}
.navigation .options input {margin-right: 5px}
.navigation .options input, .navigation .options span {vertical-align: middle}

.navigation .current .heading {background-color: #fafbfc}
.navigation .current .heading .title {font-weight: bold}
.navigation .current .count {display: inline-block}
.navigation .current .options {display: block}

.main {margin-left: 210px; border-left: 1px solid #dcdcdc}

.wall {margin-top:-7px;margin-left: 210px; border-left: 1px solid #dcdcdc}
.wall .close {display: none; position: absolute; right: 0; top: 0; width: 25px; height: 25px; background-image: url(/img/close.png); cursor: pointer}
.wall .show-more {display: block; text-align: center; color: #777; line-height: 26px; background-color: #f6f8fa; cursor: pointer}
.wall .show-more:hover span {text-decoration:underline}
.wall > .show-more {margin-top: 20px}

.post {padding: 0 0 20px 70px; color: #333; border-top: 1px solid #ebebeb}
.post:first-child {border: 0}
.post img {display: block}
.post a {color: #165f85}
.post a:hover {/*text-decoration:underline*/}
.post strong {color: #b00000}

.post .actions {text-align: right; line-height: 16px; margin-top: 5px}
.post .actions .reply {float: left; color: #165f85; cursor: pointer}
.post .actions .reply:hover {text-decoration:underline}
.post .actions .feedback {color: #777}
.post .actions .feedback span {display: inline-block; cursor: pointer; margin-left: 5px}
.post .actions .feedback span:after {content: ""; display: inline-block; vertical-align: top; width: 16px; height: 16px; margin-left: 2px; background: url(/img/like.png) left -1px}
.post .actions .feedback .dislike:after {background-position: bottom}

.post .related {text-transform: uppercase; line-height: 45px; color: #1c2530; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-right: 25px; position: relative}
.post .related a {text-transform: none; color: #777; margin-left: 5px; border: 0}
.post .related a:hover {/*text-decoration:underline*/}
.post .related .close {top: 10px}
.post:hover .related .close {display: block}

.post .author, .post .body {font-size: 13px; font-family: arial}
.post .author {font-weight: bold; color: #1c2530}
.post .author:hover {/*text-decoration:underline*/}
.post .date {color: #777; margin-left: 5px}
.post .date:hover {/*text-decoration:underline*/}
.post .body {margin-top:3px!important;white-space: pre-line; max-height: 50px; overflow: hidden;line-height:1.35em}
.post .body.expanded {max-height: none}

.post .message {position: relative}
.post .message > .avatar {position: absolute; left: -60px; top: 3px; max-width: 50px}
.post .message > .body, .post .message .attachments {margin: 10px 0}
.post .message .attachments a {display: inline-block; vertical-align: top; border: 0}
.post .extras {margin-top: 15px}
.post .extras div, .post .extras a, .post .extras span {display: inline-block; vertical-align: top; text-align: center}
.post .extras a {border: 0}
.post .extras a img {display: block; max-width: 30px; max-height: 30px}
.post .extras span {width: 30px; height: 30px; font: bold 15px/30px arial; color: #4d9901}
.post .extras .likes {margin-right:30px}
.post .extras .dislikes {}
.post .extras .dislikes span {color: #b00000}

.post .comments {padding-top: 10px}
.post .comment {position: relative; margin-top: 15px; padding-left: 40px}
.post .comment .avatar {position: absolute; left: 0; top: 0; max-width: 30px}
.post .comment .body {margin: 5px 0}
.post .comment .actions {visibility: hidden}
.post .comment:hover .actions {visibility: visible}

.thing {display: inline-block; vertical-align: top; width: 230px; margin: 20px 0; text-align: center; line-height: 25px; position: relative}
.thing .photo img {display: block; max-width: 130px; margin: 0 auto}
.thing .status {display: inline-block; margin-top: 10px; border: 1px solid transparent; border-radius: 2px}
.thing .status > * {float: left; width: 36px; height: 24px}
.thing .status .heart {background: url(../img/heart.png) center no-repeat}
.thing .status .check {background: url(../img/check.png) top no-repeat; cursor: pointer; display: none}
.thing .status .check:hover {background-position: bottom}
.thing .status:hover {border-color: #d3d4d6; margin-left: 36px}
.thing .status:hover .check, .thing .status.checked .check {display: block}
.thing .status.checked {margin-left: 0; border-color: transparent}
.thing .status.checked .heart {display: none}
.thing .status.checked .check {background-position: bottom; cursor: default}
.thing .title {font: 15px arial; padding: 0 20px}
.thing .title a {color: #3a5f85!important}
.thing .owners a {color: #1c2530; text-decoration:underline;}
.thing .owners a:hover {text-decoration:none}
.thing:hover .close {display: block}

.aside {position: absolute; top: 10px; right: 0; width: 300px; text-align: center; }


/* 29.10.2012 */

.profile {padding-left: 30px}
.profile, .profile a, .profile table th {color: #777}
.profile strong, .profile table caption {color: #1c2530}
.profile .summary {overflow: hidden}
.profile .summary .avatar {float: left; width: 115px}
.profile .summary .avatar img {display: block; max-width: 96px; max-height: 96px}
.profile .summary .name {float: left}
.profile .summary .name strong,  .profile .summary .name strong a {font: bold 25px arial;color:#000}
.profile .info {float: right; clear: right; text-align: right; line-height: 16px}
.profile .info + .info {margin-top: 10px}
.profile a {text-decoration:underline}
.profile a:hover {text-decoration:none}
.profile strong {display: block; font-weight: normal}
.profile table, .profile input, .profile select {font-size: 13px; font-family: arial}
.profile table {width: 100%; border-collapse: collapse; table-layout: fixed; margin-top: -41px}
.profile table caption {font-size: 15px; line-height: 30px; border-bottom: 1px solid #ebebeb; text-align: left; margin-bottom: 10px; padding-top: 10px}
.profile table th, .profile table td {line-height: 28px; padding: 0}
.profile table th {font-weight: normal; text-align: right; width: 95px; padding-right: 20px}
.profile table td, .profile input, .profile select {color: #333}
.profile table + table {margin-top: 20px}
.profile table a {color: #195e85;text-decoration:none;}
.profile table a:hover {text-decoration:underline;}
.profile input[type=text], .profile select {border: 1px solid #bec0c2; box-shadow: inset 1px 1px 2px rgba(0,0,0,.1); padding: 5px; margin: 5px 0}
.profile input[type=text] {width: 210px}
.profile label input[type=checkbox], .profile label input[type=radio], .profile label span {vertical-align: middle}

.profile .birth th {vertical-align: top; line-height: 38px}
.profile .birth select {float: left}
.profile .birth select + select {margin-left: 11px}
.profile .birth label {float: left; clear: left; line-height: normal; margin-bottom: 10px}
.profile .birth label span, .profile .collapsible label span {cursor:pointer}
.profile .birth .day, .profile .birth .month {width: 60px}
.profile .birth .year {width: 80px}

.profile .collapsible caption  {color: #195e85; cursor: pointer; border-top: 1px solid #ebebeb; border-bottom: 0; padding-bottom: 10px; margin-bottom: 0;}
.profile .collapsible caption p span {border-bottom: 1px dotted #195e85;}
.profile .collapsible caption p {padding-right:10px;display:inline;background:url(../img/arr-down.png) no-repeat right 10px;}
.profile .collapsible tbody {margin-bottom: 10px}
.profile .collapsible tr {display: none}
.profile .collapsible + table {margin-top: 0}
.profile .collapsible.expanded {margin-bottom: 20px}
.profile .collapsible.expanded tr {display: table-row}
.profile .collapsible.expanded caption {color: #1c2530}
.profile .collapsible.expanded caption span {border-color: #1c2530}
.profile .collapsible.expanded caption p {padding-right:10px;display:inline;background:url(../img/arr-up.png) no-repeat right 10px;}

.profile .buttons, .profile table caption {padding-left: 115px}
.profile .buttons {margin-top: 40px}

button {font-size: 15px; border: 1px solid #a6b0b7; box-shadow: inset 0 0 1px #fff3a0; padding: 0 18px; line-height: 32px; text-shadow: 0 1px #fff; cursor: pointer;
	background: #fff5a3;
	background: -moz-linear-gradient(top,  #fff5a3 0%, #fccc42 100%);
	background: -webkit-linear-gradient(top,  #fff5a3 0%,#fccc42 100%);
	background: linear-gradient(to bottom,  #fff5a3 0%,#fccc42 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5a3', endColorstr='#fccc42',GradientType=0 );
}
button::-moz-focus-inner {border: 0; padding: 0}